<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan
		base-package="sowad.aprumed.controller" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/aprumeddb" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="libroDao" class="sowad.aprumed.service.LibroImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="usuarioDao" class="sowad.aprumed.service.UsuarioImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="tipoUsuarioDao"
		class="sowad.aprumed.service.TipoUsuarioImpl">
		<qualifier value="tipdao" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="cuentaDao"
		class="sowad.aprumed.service.CuentaImpl">
		<qualifier value="accdao" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="categoriaDao"
		class="sowad.aprumed.service.CategoriaImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="categoriaDaoLbr"
		class="sowad.aprumed.service.CategoriaImpl">
		<qualifier value="catdaolbr" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="ejemplarDao"
		class="sowad.aprumed.service.EjemplarImpl">
		<qualifier value="ejemplardao" />
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>
